/* ============== COMMON STYLES ============== */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}
.list {
  list-style-type: none;
}
button {
  /* міняється курсор */
  cursor: pointer;
}
.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

body {
  /* serif - засічки, хвостики 
    sans-serif - без засічок
    */
  font-family: "Montserrat", sans-serif;
  background-color: #fafafa;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 1168px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
.page-header {
  padding-top: 24px;
  padding-bottom: 32px;
}
.page-navigation {
  display: flex;
  align-items: center;
  /* 1 притескається до праи. 2 до ліва */
  justify-content: space-between;
  width: 100%;
  max-width: 980px;
}

.logotype {
  font-size: 18px;
  /* за замовчування посилання має 400 */
  font-weight: 700;
  /* line-height > font-size*/
  /* line-height: 20px; */
  /* line-height / font-size 20/18=1.111111111*/
  line-height: 1.11;

  /* 1em = font-size*/
  /* letter-spacing: -0.54px; */
  /* letter-spacing / font-size */
  letter-spacing: -0.03em;
  /* гарно коли є 6 цифер в кольорі */
  color: #111111;
}
.menu {
  display: flex;
  column-gap: 24px;
}
.menu-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1, 14;
  letter-spacing: -0, 02em;
  color: #111111;
}
.menu-link:hover,
.menu-link:focus {
  color: #fd9222;
}

/* ========== */

.main-title {
  font-size: 28px;
  font-weight: 500;
  line-height: 1, 21; /* 121.429% */
  letter-spacing: -0.03em;
  /* color: #ffffff; */
}
.buy-now-btn {
  font-size: 14px;
  font-weight: 600;
  background: #fd9222;
}
.buy-now-btn:hover,
.buy-now-btn:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}

.how-made-link {
  font-size: 14px;
  font-weight: 600;
  /* color: #ffffff; */
}
.how-made-link:hover,
.how-made-link:focus {
  color: #fd9222;
}
.scroll-down-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1, 29; /* 128.571% */
  letter-spacing: -0.03em;
  /* color: #ffffff; */
}
.benefits-list-title {
  font-size: 18px;
  font-weight: 600;
  /* color: #ffffff; */
}
.benefits-list-text {
  /* color: rgba(255, 255, 255, 0.7); */
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
.section-title {
  color: #111;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17; /* 116.667% */
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.accent-color {
  color: #fd9222;
}

/* винесли в загальний клас section */
/* .ingredients { */
/* міряємо  відстан між секціями і ділимо на 2 */
/* padding-top: 50px; */
/* padding-bottom: 50px; */
/* }  */

.ingredients-tittle {
  width: 411px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
}
.ingredients-description {
  width: 486px;
  text-align: center;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29; /* 128.571% */
  letter-spacing: -0.02em;
  color: #111111;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.ingredients-list {
  display: flex;
  column-gap: 19px;
  flex-wrap: wrap;
}
.ingredients-list-title {
  /* color: #ffffff; */
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.29; /* 128.571% */
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.ingredients-list-item {
  /* width: 269px; */
  /* _100% - к-ть відступів * на довжину відступів) \ к-ть частин*/
  width: calc((100% - 3 * 19px) / 4);
  border-radius: 15px;
  border: 1px solid #fd9222;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 28px;
  padding-right: 36px;
}
.ingredients-list-img {
  margin-bottom: 36px;
}
.ingredients-list-item:nth-child(4n + 1) {
  background: #fd9222;
  color: #ffffff;
}
.ingredients-list-item:nth-child(4n + 3) {
  border-color: #1e1823;
  background-color: #1e1823;
  color: #ffffff;
}
.ingredients-list-item:nth-child(even) {
  background-color: #ffffff;
}
.how-made-title {
  color: #111111;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.33; /* 133.333% */
}
.how-made-list-item {
  color: #111;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29; /* 128.571% */
  letter-spacing: -0.02em;
}
.reviews-list-fullname {
  color: #111;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.33px; /* 133.333% */
}
.reviews-list-text {
  color: rgba(17, 17, 17, 0.7);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29; /* 128.571% */
  letter-spacing: -0.02em;
}
.leave-review-btn {
  color: #111;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.leave-review-btn:hover,
.leave-review-btn:focus {
  color: #ffffff;
  background-color: #fd9222;
}
.contact-title {
  color: #fff;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.56px;
}
.contact-list-link {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
}
